
{% extends 'todo/base.html' %}

{% block content %}
<h1 style="background-color : rgb(0,0,250)">
  " EVEN THE GREATEST WERE BEGINNERS ONCE "
</h1>

<h2>
    <pre>
     <b>    COMPLETED  TO-DOS   </b>
    </pre>
</h2>
<ul>



      {% for todo in todos %}

      {% if todo.important %}

      <b>
       <a href="{% url 'viewtodo'  todo.id  %}"> <li> {{ todo.title }}</li></a> {{ todo.datecompleted|date:'M j Y H:i' }}
      </b>
      {% else %}
      <a href="{% url 'viewtodo'  todo.id  %}">
      <li> {{ todo.title }}</li> </a> {{ todo.datecompleted|date:'M j Y H:i' }}
       {% endif %}
      {% if todo.memo %}
      <pre><li>     - {{ todo.memo }}   </li></pre>
      {% endif %}
      </li>


    {% endfor %}
</ul>
{% endblock %}